<div class="row align-center mb-5 post">
  <div class="card w-90" >
    <div class="card-header">
      <h1 class="display-inline post-title"  data-post-id="{{id}}">{{title}}</h1>
      <p class="display-inline ml-auto">Posted by {{user.name}} at {{date_created}}</p>
    </div>
    <div class="card-body">
      <p>{{body}}</p>
    </div>
  </div>
</div>